name: C/C++ Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Boost libraries
      run: sudo apt-get update && sudo apt-get install -y libboost-system-dev libboost-thread-dev
    - name: Build project
      run: make
